#contentContainer{
    font-family: roboto-angular , noto-sans;
    padding: 10px 20px;
    display:block;
    blockquote{
        p{
            border-style: solid;
            border-color: #39c5bb;
            border-width: 0;
            border-left-width:5px;
            padding: 0 5px;
        }
    }
    h1{
        text-align: center;
    }
}